
*.pyc
*.map
CRUD/__pycache__
CRUD/db_connect.py
CRUD/store.sqbpro
CRUD/static/css/font-awesome
CRUD/static/css/mdb.css
CRUD/static/css/mdb.lite.css
CRUD/static/css/mdb.lite.min.css
CRUD/static/css/mdb.min.css
CRUD/static/css/metro-animations.css
CRUD/static/css/metro-animations.min.css
CRUD/static/css/sheet.min.css
CRUD/static/css/metro-small.css
CRUD\static\img\hero_1.jpg
CRUD\static\img\hero_2.jpg
CRUD\static\img\icons8_add_database_1.svg
CRUD\static\img\icons8_code_1.ico
CRUD\static\img\icons8_google_code_64px_1.png
CRUD\static\img\icons8_google_docs_64px.png
CRUD\static\img\icons8_programming_flag.svg
CRUD\static\img\icons8_road_closure_100px_1.png
CRUD\static\img\icons8_stack_overflow_1.svg
CRUD\static\img\icons8_youtube_tutorials_64px_1.png
CRUD\static\img\undraw_Login_re_4vu2.svg
CRUD\static\img\undraw_secure_login_pdn4.svg
CRUD\static\img\undraw_unlock_24mb.svg
CRUD\static\js\metro.js
CRUD\static\js\fade.js
CRUD/static/css/.DS_Store
