{% extends 'layout.html' %}
{% block title %}
    Ocorreu um erro
{% endblock  %}
{% block content %}
    <div class="fm-md-5">
        <div class="text-center">
            <div class="container">
                <img src="../static/img/icons8_road_closure_100px_1.png" alt="">
                <h1 class="text-normal text-upper fg-dark">Ocorreu um erro</h1>
               <div class="container">
                <p class="p-2 lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto nobis corrupti ex similique veritatis, eos distinctio quisquam et repellat iste accusamus? Sed est tempora deleniti consectetur earum enim possimus nulla?</p>
                <a href="/cadastrar" class="text-center">Voltar a pagina anterior</a>
            </div>
            </div>
        </div>
    </div>
{% endblock  %}